.profile.text-center {
  border: 1px solid gray;
  width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 31px 91px #333;
  padding: 22px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}
