.top-form-header {
  text-align: center;
  margin-top: -35px;
}
.google-button {
  text-align: center;
}
.google-button .g-btn {
  outline: none;
  padding: 3% 8%;
}

button.g-btn {
  border: 1px solid #dd7a09;
  border-radius: 35px;
}
button.g-btn svg {
  width: 82px;
  font-size: 22px;
}
